<div>
    <div *ngIf = "isclicked == true">
      <p style="font-size: 18px;">TOP HEROES</p>
     <div class="row-4">
        <div *ngFor="let hero of heroes" >
            <Button class="btn-heroes" type="button" >{{hero.name}}</Button>
        </div>
     </div>
    </div>
    <div *ngIf ="isclickedHeroes == true">
        <p style="font-size: 28px;font-weight: bold;">My Heroes</p>
        <div class="col-8" *ngFor="let hero of heroes">
            <div class="row-info">
                <div class="info-id">
                    <p>{{hero.id}}</p>
                </div>
                <div class="info-name">{{hero.name}}</div>
            </div>
        </div>

    </div>
  </div>