.btn-heroes{
    padding: 10px 20px;
    color: white;
    margin-right: 15px;
    background-color: darkblue; 
    border: 0px;
    display: inline;
}
.row-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
