<h1>{{title}}</h1>
<!-- <h2>{{hero.name}} details!</h2>
<div>
  <label>Id: </label>{{hero.id}}
</div>
<div>
  <label>Name: </label>
  <input [(ngModel)] = "hero.name" placeholder="name">
</div> -->
<Button class="btn" type="button" (click) = "onClickDashboard()">Dashboard</Button>
<Button class="btn" type="button" (click) = "onClickHeroes()">Heroes</Button>
<!-- Pass data vào child  -->
<app-heroes-dashboard [isclicked] = "isclicked" ></app-heroes-dashboard>
<app-heroes-heroes-list [isclickedHeroes] = "isclickedHeroes"></app-heroes-heroes-list>
<router-outlet></router-outlet>